{% extends 'base.html' %} 

{% block content %}
<h1 class="display-4">Surprise!</h1>
<div style="width:100%;height:0;padding-bottom:56%;position:relative;">
    <iframe
        src="https://giphy.com/embed/3o6vY6L5NNr67HQW7S"
        width="100%"
        height="100%"
        style="position:absolute"
        frameBorder="0"
        class="giphy-embed"
        allowFullScreen
    ></iframe>
</div>
<p>
    <a href="https://giphy.com/gifs/adultswim-3o6vY6L5NNr67HQW7S">via GIPHY</a>
</p>
<p class="lead">Ultra super awesome secret page!</p>
{% endblock %}
