{% extends 'base.html' %}

{% block title %}User info{% endblock %}

{% block content %} 
<h1>User details</h1>
<li>
    <ul>
        <p>Username: {{user.username}}</p>
        <p>Email: {{user.email}}</p>
        <p>Name: {{user.first_name}} {{user.last_name}}</p>
    </ul>
</li>
<h2>Feedback</h2>
{% if user.feedback %}
{% for feedback in user.feedbacks %}
<a href="/feedback/{{feedback.id}}/update">{{feedback.title}}</a>
<p>{{feedback.content}}</p>
{% endfor %}

<div>
    {% endif %}
    <form>
    <a href="/logout" class="btn btn-secondary">Logout</a>
    <a href="/users/{{user.username}}/feedback/add" class="btn btn-primary">Add feedback</a>
    <button formaction="/users/{{user.username}}/delete" class="btn btn-danger" formmethod="POST">Delete User</button>
</form>
{% endblock %}