{% extends 'base.html' %}

{% block title %}User info{% endblock %}

{% block content %} 
<h1>User details</h1>

    <span class="user-list">
    <ul>
        <p>Username: {{username}}</p>
        <p>Email: {{email}}</p>
        <p>Name: {{first_name}} {{last_name}}</p>
    </ul>
</span>
<h2>Feedback</h2>

{% for feedback in feedback %}
<a href="/feedback/{{feedback.id}}/update">{{feedback.title}}</a>
<p>{{feedback.content}}</p>
{% endfor %}

<div>
   
    <form>
    <a href="/logout" class="btn btn-secondary">Logout</a>
    <a href="/users/{{username}}/feedback/add" class="btn btn-primary">Add feedback</a>
    <button formaction="/users/{{username}}/delete" class="btn btn-danger" formmethod="POST">Delete User</button>
</form>
{% endblock %}